/* customization */
body {
    background-color: #fff;
    color: #000;
    font-family: 'Ubuntu Medium';
    font-size: 10pt;
    max-width: 50%;
    margin: auto;
}

@media print {
    body {
        max-width: 100%;
    }
}

span {
    display: flex;
    justify-content: center
}

a {
    color: rgb(117, 0, 0);
    text-decoration: none;
}

h1 {
    font-size: 18pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 0em;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    color: rgb(117, 0, 0);
    padding-bottom: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 10pt;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

h4 {
    font-size: 10pt;
}

h5 {
    font-size: 10pt;
}

ul {
    list-style-type: " ";
    list-style-position: inside;
    padding-left: 2em;
    padding-top: 0;
    margin-top: 0;
}

*:not(li)>ul {
    list-style-type: " ";
    list-style-position: inside;
    padding-left: 0em;
}